# TELEGRAM
TELEGRAM_TOKEN=your_telegram_bot_token_here
MY_ADMIN_ID=your_telegram_chat_id_here

# DATABASE
DB_HOST=localhost
DB_USER=root
DB_PASS=your_mysql_password
DB_NAME=duka_pos

# M-PESA DARAJA
MPESA_CONSUMER_KEY=your_consumer_key
MPESA_CONSUMER_SECRET=your_consumer_secret
MPESA_SHORTCODE=174379
MPESA_PASSKEY=your_passkey

# NGROK
NGROK_BASE_URL=https://your-ngrok-url.ngrok-free.dev